@media screen and (max-width: 980px) {
    /* FOOTER */
     #footer-container {
         padding: 0 30px;
     }
 
     /* PORTFOLIO */
     .portfolio-grid {
         display: grid;
         height: 100%;
         grid-template-columns: 1fr 1fr;
         grid-gap: 30px;
     }
     figure img {
         object-fit: cover;
         max-height: 260px;
         width: 100%;
     }
 }