@media screen and (max-width: 640px) {

    /*
    ==============================
    BASIC SETUP
    ==============================
    */

    #header-container,
    #footer-container,
    #content-container {
        width: 100%;
        max-width: 620px;
    }

    /*
    ==============================
    HEADER + TOP NAV
    ==============================
    */

    #header-container {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        flex-basis: 1;
        width: 100%;
        text-align: center;
    }

    /*
    ==============================
    FOOTER
    ==============================
    */

    #footer-container {
        padding: 0 30px;
    }

    /*
    ==============================
    ABOUT ME PAGE
    ==============================
    */

    .profpic {
        float: none; 
        margin-bottom: 30px;
        width: 100%;
        filter: grayscale(1);
        object-fit: cover;
        height: 480px;
    }

    /*
    ==============================
    PORTFOLIO
    ==============================
    */

    .portfolio-grid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
   
}